body {
        background-color: beige;
        height: 100vh;
        text-align: center;
}


.bold {
        font-weight: bold;
}

.header {
        margin: 2rem;
}

.project-container {
        padding: 1rem;
        background-color: white;
        border-radius: 1rem;
        margin-bottom: 2rem;
}

img {
        width: 100%;
}

figure {
        width: 10rem;
}